[Unit]
Description="echoip"
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/echoip/echoip
WorkingDirectory=/usr/echoip
User=nobody
Group=nobody
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
